<div class="buttondown-form">
  <form
    action="https://buttondown.com/api/emails/embed-subscribe/otherdimensionalclub"
    method="post"
    class="embeddable-buttondown-form"
  >
    <input type="email" name="email" id="bd-email" placeholder="your@email.com" />
    <button type="submit">subscribe!</button>
    <p>
      <a href="https://buttondown.com/refer/otherdimensionalclub" target="_blank">
      </a>
    </p>
  </form>
</div>
