<div class="note-stream-item">
  <div class="color-strips">
    {% for category in note.data.categories %}
      <div class="color-strip category-{{ category }}"></div>
    {% endfor %}
  </div>
  <div class="note-stream-content">
    <h2 class="note-stream-title">
      {% if note.data.external %}
            <a href="{{ note.data.url }}" target="_blank">{{ note.data.title }} &#8599;</a> <!-- ASCII arrow pointing up and to the right -->
      {% else %}
        <a href="{{ note.url }}">{{ note.data.title }}</a>
      {% endif %}
    </h2>
    <p class="note-stream-subtitle">
      {% if note.data.medium %}
        {{ note.data.medium | capitalizeFirst }}
      {% endif %}
      {% if note.data.publication %}
        for {{ note.data.publication | capitalizeFirst }}
      {% endif %}
    </p>
    {% if note.data.description %}
      <p class="note-stream-description">{{ note.data.description }}</p>
    {% endif %}
  </div>
</div>
