---
layout: default
pagination:
  data: collections.categorizedPosts
  size: 1
  alias: category
permalink: /{{ category | slugify }}/
---

<div class="note-stream">
  {% set categorylist = collections.categorizedPosts[ category ] %}
    {% for note in categorylist | reverse %}
      {% include "note-stream.njk" %}
    {% endfor %}
</div>
