---
pagination:
  data: collections.categorizedPosts
  size: 1
  alias: category
permalink: /{{ category | slugify }}/
---

<h1>{{ category }}</h1>

<ol>
{% set categorylist = collections.categorizedPosts[ category ] %}
{% for note in categorylist | reverse %}
    <li>
      {% if note.data.external %}
        <a href="{{ note.data.url }}" target="_blank">{{ note.data.title }}</a>
      {% else %}
        <a href="{{ note.url }}">{{ note.data.title }}</a>
      {% endif %}
      <p>{{ note.data.description }}</p>
    </li>
{% endfor %}
</ol>
