---
layout: default
title: Home
---

<div class="note-content">
  {% renderFile "./src/_includes/content/index.md" %}
</div>

<h2>Categories</h2>
{% include "category-nav.njk" %}

<h2>Recent updates</h2>
<div class="recent-notes note-stream">
  {% for note in collections.recentNotes %}
    {% include "note-stream.njk" %}
  {% endfor %}
</div>
