---
layout: default
title: Home
---

<div class="note-content">
  {% renderFile "./src/_includes/content/index.md" %}
</div>

<h2>categories</h2>
{% include "category-nav.njk" %}

<h2>recent stuff</h2>
<div class="recent-notes note-stream">
  {% for note in collections.allNotes.slice(0, 8) %}
    {% include "note-stream.njk" %}
  {% endfor %}
</div>
<div class="more-notes"><a href="/notes">More →</a></div>
