---
layout: default
pagination:
  data: collections.allNotes
  size: 15
---

{% block content %}
<div class="note-stream">
  {%- for note in pagination.items %}
    {% include "note-stream.njk" %}
  {% endfor -%}
</div>

<nav aria-labelledby="my-pagination">
  <ol>
    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
    <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
  </ol>
</nav>
{% endblock %}
---
