---
pagination:
  data: collections.allNotes
  size: 15
---

<nav>
  <ul>
    {% for category in collections.categoryList %}
      <li><a href="/{{ category | slug }}/">{{ category }}</a></li>
    {% endfor %}
  </ul>
</nav>

<ol>
{%- for note in pagination.items %}
    <li>
      {% if note.data.external %}
        <a href="{{ note.data.url }}" target="_blank">{{ note.data.title }}</a>
      {% else %}
        <a href="{{ note.url }}">{{ note.data.title }}</a>
      {% endif %}
      <p>{{ note.data.description }}</p>
    </li>
{% endfor -%}
</ol>

<nav aria-labelledby="my-pagination">
  <ol>
    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
    <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
  </ol>
</nav>
